$primary-color : teal;
$dark : darken(grey, 10%);

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

p.credits {
    color: azure;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    text-orientation: sideways;
}


a {
    text-decoration: none;
    color: azure;
}

canvas {
    display: block;
    vertical-align: bottom;
    height: 100%;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-image: url('');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.btn {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    padding: 0.4rem 0.5rem;
    background: darken($primary-color, 10%);
    color: #fff;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-top: 0rem 0.5rem;
}

.whatsapp {
    background: #25d366;
    animation-delay: 3s;
    color: #fff;
}

input,
select {
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    padding: 0.6rem 0.4rem;
    box-shadow: 3px 3px 5px #333;

    &+.hint {
        display: none;
        margin-bottom: .2rem;
    }

    &:invalid:not(:placeholder-shown) {
        border: 1px solid red;
    }

    &:invalid:not(:placeholder-shown)+.hint {
        display: block;
    }

    &:hover {
        box-shadow: 4px 4px 7px #222;
        outline: none;
    }

    &:active {
        outline: none;
    }
}

body {
    background: $primary-color;

    main {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .how-to {
            margin: 0;
            margin-left: auto;
        }

        .container {
            display: flex;
            margin: 1rem;
            justify-content: center;
            align-items: center;
            height: 100vh;

            .form-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 0.8rem 1.2rem;
                border-radius: 10px;
                width: 320px;
                min-height: 360px;
                background: darken($primary-color, 10%);
                box-shadow: 3px 3px 5px #333;

                &:hover {
                    box-shadow: 4px 4px 7px #222;
                }

                h1 {
                    text-align: center;
                    font-weight: 400;
                    color: lighten(white, 10%);
                }

                .input-group {
                    display: flex;
                    flex-direction: column;
                    color: lighten(white, 30%);
                }

                img {
                    height: 200px;
                    width: 200px;
                    margin: auto;
                }

                input[type=button] {
                    background: complement($color: lighten(teal, 40%)) !important;
                    color: whitesmoke;
                }
            }
        }
    }
}